@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 100;
  src: url("../fonts/roboto-v30-cyrillic_latin-100.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 300;
  src: url("../fonts/roboto-v30-cyrillic_latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic_latin-900.woff2") format("woff2");
}

:root {
  --color-primary-white: #fff;
  --color-primary-blue: #2b7fff;
  --color-primary-bluedark: #011c44;

  --color-secondary-grey1: #4a4a4a;
  --color-secondary-grey2: #4a4a4a;
  --color-secondary-greylight: #747272;
  --color-secondary-bluedark: #011f4a;
  --color-secondary-yellow: #ffd02b;
  --color-black: #000;
}

body {
  /* font-family: "Play", sans-serif; */

  /* Доминантный */
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  /*21px/18px */
  color: var(--color-primary-bluedark);
}


address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

/* Hero-section*/
/* .above-title {
  font-size: 18px;
} */

.hero-title {
  color: var(--color-primary-blue);
  font-family: Play, sans-serif;
  text-align: left;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 140px;
  line-height: 0.8;
  /*114px/140px */
  border-radius: 2px 2px 2px 116px;
  /* text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);   из макета . Не работает*/
  /* text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25); */
  /* -moz-text-decoration-line: 4px rgba(0, 0, 0, 0.25);
  text-stroke: 4px rgba(0, 0, 0, 0.25); */

  /* у меня визуально был шрифт с обрамлением. в макете - таки нет. */
  /* -webkit-text-stroke: 4px rgba(0, 0, 0, 0.25); */

  /* font-style: italic; */
  /* text-transform: capitalize; */
  /* text-shadow: 2px 2px 4px violet;
  letter-spacing: 4px;
  word-spacing: 4px;
  white-space: nowrap; */
}

/* Header */
.header-link {
  /* color: var(--color-primary-bluedark); доминантный/ Но не отработало без указания здесь цвета . М.б. это нажатый ранее цвет ссылки. Нет. доббавляла нов li - цвет неправильный*/
  color: var(--color-primary-bluedark);
  font-size: 18px;
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-primary-blue);
  font-weight: 700;
  /* text-decoration: underline; */
}

/* .header-link:visited {
  color: var(--color-primary-blue);
} */

.icon-link-ul {
  display: flex;
  flex-flow: row wrap;
  background: white;
}

/* Main */
/* Main Button*/
.button-primary {
  font-family: inherit;
  /* font-family: "Roboto", sans-serif; button не наследует стиль font от body. что лучше по опыту- inherit или заново указывать font? */
  font-size: 18px;
  /* padding: 16px 32px;
  width: 219px;
  height: 53px; */
  color: var(--color-primary-white);
  /* 18px не взялся с body */
  /* font-size: 18px; */
  /* и не помещается 18 при указанных width height??? */
  /* font-size: 16px; */
  font-weight: 600;
  /*21px/18px */
  line-height: 1.2;
  /* ТОже непонятно - line-height наследует или нет. скорее нет */
  background-color: var(--color-primary-blue);
  border: 1px solid var(--color-black);
  border-radius: 32px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  /* width: 219px; */
  /* height: 53px; */
}

.button-primary:hover {
  background-color: transparent;
  color: var(--color-primary-bluedark);
  cursor: pointer;

  border: 2px solid #2b7fff;
  border-radius: 32px;
  padding: 16px 32px;
  /* width: 219px; */
  /* height: 53px; */
}

.under-button {
  /* font-family: "Roboto", sans-serif; */
  font-size: 12px;
  /*18px/12px */
  line-height: 1.5;
  color: var(--color-secondary-grey1);
}

/* Main h2*/
/* Для всех section h2  : */
section h2 {
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  /*74px/64px */
  line-height: 1.2;
}

h2 span {
  color: var(--color-primary-blue);
}

/* Section about us */
.about-us-p {
  font-size: 22px;
  font-weight: 600;
  /*38px/22px */
  line-height: 1.7;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.beauty-zone {
  text-transform: capitalize;
  /* font-weight: 600; */
}

/* Section why us */
.section-why-us-p {
  color: var(--color-black);
  /*24px/18px */
  line-height: 1.3;
}

/* Section procedure */
h3 {
  color: var(--color-primary-white);
  font-size: 22px;
  font-weight: 400;
  /*26px/22px */
  line-height: 1.2;
}

/* Section contacts */
/* form sign up free */
.signup-free-p {
  color: var(--color-primary-white);
  font-size: 22px;
  font-weight: 600;
  /*26px/22px */
  line-height: 1.2;
}

.signup-free-p-free {
  color: var(--color-primary-blue);
}

.signup-free-input {
  color: var(--color-primary-white);
  font-size: 13px;
  font-weight: 400;
  /*15px/13px */
  line-height: 1.2;
}

.signup-free .button-primary {
  /* width: 281px; */
  /* height: 53px; */
}

.signup-free .under-button {
  color: var(--color-secondary-greylight);
}

.privacy-policy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/* Footer */

.footer-link {
  color: var(--color-primary-white);
  font-size: 16px;
  text-decoration: none;
}

/* вопрос - в макете ничем не отличается выделенный элемент меню нвигации */
.footer-link:hover {
  color: var(--color-primary-blue);
  /* text-decoration: underline; */
}

.copyrigt {
  font-size: 13px;
  color: var(--color-secondary-greylight);
}